@import url('./style.css');


/* Header */
header .welcome {
    font-size: 1.6em;
}

header .message {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: row;
}

header .message ion-icon {
    color: var(--color4);
    width: 16px;
    height: 16px;
}

header .companyName {
    text-align: right;
    font-style: italic;
    font-size: 1em;
}


/* Main */
main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* Section warns*/
section {
    position: relative;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

section .title {
    font-size: 2em;
    font-weight: bold;
}

section .image {
    position: relative;
    width: 100%;
    height: 160px;
}

section .img-wrapper {
    position: absolute;
    height: 95%;
    width: 98%;
}

section .img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

section .image .bg-color {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
    width: 95%;
    z-index: -1;
    background-color: blue; /* DEBUG */
}

section .actions {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.actions button {
    width: 150px;
    height: 50px;
    background-color: var(--color1);
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions button ion-icon {
    width: 45px;
    height: 45px;
    color: var(--color5);
}

section .notification {
    background-color: blue; /* DEBUG */
    border-radius: 50px;
    right: 5px;
    top: 2.6em;
    padding: 5px;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification ion-icon {
    color: #fff;
    width: 35px;
    height: 35px;
}
